doctype html
html
	head
		title Reliquary
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
		script(src="javascript/login.js")
		link(rel="stylesheet" href="stylesheets/login.stylesheet.css")
		link(rel="stylesheet" href="stylesheets/main.stylesheet.css")
	body(ng-app="login")
		login
		