doctype html
html
	head
		title Reliquary
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js")
		script(src="javascript/rewards.js")
		script(src="javascript/relics.js")
		script(src="javascript/primes.js")
		script(src="javascript/inventory.js")
		script(src="javascript/data.js")
		script(src="javascript/app.js")
		link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css")
		link(rel="stylesheet" href="stylesheets/primes.stylesheet.css")
		link(rel="stylesheet" href="stylesheets/relics.stylesheet.css")
		link(rel="stylesheet" href="stylesheets/rewards.stylesheet.css")
		link(rel="stylesheet" href="stylesheets/inventory.stylesheet.css")
		link(rel="stylesheet" href="stylesheets/notifications.stylesheet.css")
		link(rel="stylesheet" href="stylesheets/main.stylesheet.css")
	body(ng-app="reliquary")
		main