<md-toolbar class="controls">
	<div class="md-toolbar-tools">
		<div class="filters">
			<md-menu>
				<md-button ng-click="$mdOpenMenu($event)">
					Filters
				</md-button>
				<md-menu-content>
					<md-menu-item ng-repeat="filterOption in filterOptions">
						<md-menu>
							<md-button ng-click="$mdOpenMenu($event)">{{filterOption.title}}</md-button>
							<md-menu-content>
								<md-menu-item ng-repeat="option in filterOption.options">
									<md-button
										ng-class="filters[filterOption.filter] === option.value ? 'md-primary': ''"
										ng-click="addFilter(filterOption.filter, option.value)"
									>
										{{option.title}}
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-menu-item>
					<md-menu-item>
						<md-menu>
							<md-button ng-click="$mdOpenMenu($event)">Name</md-button>
							<md-menu-content>
								<md-menu-item>
									<input ng-model="filters.name" />
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
		<div class="sorts">
			Sort By:
			<md-button ng-click='toggle("name")' ng-class="{dsc:sorts.name===true, asc: sorts.name===false}">
				Name
				<div class="direction"></div>
			</md-button>
			<md-button ng-click='toggle("completion")' ng-class="{dsc:sorts.completion===true, asc: sorts.completion===false}">
				Completion
				<div class="direction"></div>
			</md-button>
			<md-button ng-click='toggle("ducats")' ng-class="{dsc:sorts.ducats===true, asc: sorts.ducats===false}">
				Ducats
				<div class="direction"></div>
			</md-button>
		</div>
	</div>
</md-toolbar>
<md-content class="parts">
	<table>
		<tr class="part" 
				ng-repeat="part in parts | partsfilter: filters: sorts"
				ng-controller="InventoryCtrl"
				id="{{part._id}}"
				ng-style="{'background-size': length(part)+' 100%'}"
				>
			<td>
				<div class="image" bkg-img icon="{{part.icon}}" blueprint={{part.hasBlueprint}}></div>
			</td>
			<td>
				<div class="name">
					{{part.name}}
				</div>
				<span class="ducats">
					<div class="image"></div>
					<span>{{part.ducats}}</span>
				</span>
				<div ng-if="part.vaulted" class="vaulted">V</div>
			</td>
			<td class="owned">
				<table>
					<tr>
						<td>Built:</td>
						<td>
							<button ng-click="adjust(false, false)" ng-disabled="part.built == 0">-</button>
							<span>{{part.built}}</span>
							<button ng-click="adjust(true, false)">+</button>
						</td>
					</tr>
					<tr ng-if="part.hasBlueprint">
						<td>Blueprints:</td>
						<td>
							<button ng-click="adjust(false, true)" ng-disabled="part.blueprints == 0">-</button>
							<span>{{part.blueprints}}</span>
							<button ng-click="adjust(true, true)">+</button>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<span class="relics">
					<span ng-class="'rarity' + reward.rarity" ng-repeat="reward in part.relics | orderBy: ['relic.era', 'relic.name']" ng-click="$emit('transfer', 'relics', reward.relic)">
						{{eras[reward.relic.era]}} {{reward.relic.name}}
					</span>
				</span>
			</td>
		</tr>
	</table
</md-content>