<div class="nav" layout="row" layout-align="space-between">
	<md-nav-bar
		md-selected-nav-item="currentNavItem"
	>
		<md-nav-item md-nav-click="select(0)" name="rewards">
			Rewards
		</md-nav-item>
		<md-nav-item md-nav-click="select(1)" name="relics">
			Relics
		</md-nav-item>
		<md-nav-item md-nav-click="select(2)" name="primes">
			Primes
		</md-nav-item>
		<md-nav-item md-nav-click="select(3)" name="inventory">
			Inventory
		</md-nav-item>
	</md-nav-bar>
	<span>
		<notifications></notifications>
		<md-button>
			<a ng-if="login===false" href="/login">Login</a>
			<a ng-if="login===true" href="/logout">Log Out</a>
		</md-button>
	</span>
</div>
<rewards ng-show="selected[0]"></rewards>
<relics ng-show="selected[1]"></relics>
<primes ng-show="selected[2]"></primes>
<inventory ng-show="selected[3]"></inventory>