<div class="nav" layout="row" layout-align="space-between">
	<md-nav-bar
		md-selected-nav-item="currentNavItem"
	>
		<md-nav-item md-nav-click="select(0)" name="rewards">
			Rewards
		</md-nav-item>
		<md-nav-item md-nav-click="select(1)" name="relics">
			Relics
		</md-nav-item>
		<md-nav-item md-nav-click="select(2)" name="primes">
			Primes
		</md-nav-item>
		<md-nav-item md-nav-click="select(3)" name="inventory">
			Inventory
		</md-nav-item>
	</md-nav-bar>
	<span>
		<notifications></notifications>
		<md-button ng-disabled="login === null" ng-click="loginAction()">
			<span ng-if="login===false">Login</span>
			<span ng-if="login===true">Log Out</span>
			<span ng-if="login===null">Loading...</span>
		</md-button>
	</span>
</div>
<rewards index="0" ng-show="selected[0]"></rewards>
<relics index="1" ng-if="init[1]" ng-show="selected[1]"></relics>
<primes index="2" ng-if="init[2]" ng-show="selected[2]"></primes>
<inventory index="3" ng-if="init[3]" ng-show="selected[3]"></inventory>
<div ng-show="loading" class="loading">
	<md-progress-circular ng-disabled="!loading" md-mode="indeterminate"></md-progress-circular>
</div>