<md-menu>
	<md-button ng-click="$mdMenu.open()">
		Notifications
		<md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
	</md-button>
	<md-menu-content>
		<div class="item" ng-show="pending">
			Pending
			<button ng-show="saving" ng-click="cancel()">Cancel</button>
			<button ng-show="!saving" ng-click="save()">Save</button>
		</div>
		<div class="item" ng-repeat="event in events">
			Saved {{event.total}} {{event.total == 1 ? 'part' : 'parts'}}
		</div>
	</md-menu-content>
</md-menu>