<md-toolbar class="controls">
	<div class="md-toolbar-tools">
		<div class="filters">
			<md-menu>
				<md-button ng-click="$mdOpenMenu($event)">
					Filters
				</md-button>
				<md-menu-content>
					<md-menu-item ng-repeat="filterOption in filterOptions">
						<md-menu>
							<md-button ng-click="$mdOpenMenu($event)">{{filterOption.title}}</md-button>
							<md-menu-content>
								<md-menu-item ng-repeat="option in filterOption.options">
									<md-button
										ng-class="filters[filterOption.filter] === option.value ? 'md-primary': ''"
										ng-click="addFilter(filterOption.filter, option.value)"
									>
										{{option.title}}
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-menu-item>
					<md-menu-item>
						<md-menu>
							<md-button ng-click="$mdOpenMenu($event)">Name</md-button>
							<md-menu-content>
								<md-menu-item>
									<input ng-model="filters.name" />
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
		<div class="eras">
			<md-nav-bar md-selected-nav-item="era">
				<md-nav-item ng-repeat="era in eras" md-nav-click="select($index)" name="{{$index}}">
					{{era}} ERA
				</md-nav-item>
			</md-nav-bar>
		</div>
		<div class="sorts">
			Sort By:
			<md-button ng-click='toggle("name")' ng-class="{dsc:sorts.name===true, asc: sorts.name===false}">
				Name
				<div class="direction"></div>
			</md-button>
			<md-button ng-click='toggle("completion")' ng-class="{dsc:sorts.completion===true, asc: sorts.completion===false}">
				Completion
				<div class="direction"></div>
			</md-button>
			<md-button ng-click='toggle("ducats")' ng-class="{dsc:sorts.ducats===true, asc: sorts.ducats===false}">
				Ducats
				<div class="direction"></div>
			</md-button>
		</div>
	</div>
</md-toolbar>
<div style="display: flex">
	<div class="reliclist">
		<div>
			<div class="relic"
				ng-repeat="relic in relics | filter:{era:era} | relicsfilter: filters: sorts"
				ng-click="selectRelic(relic)"
				ng-class="{active:selected._id == relic._id}"
			>
				<div class="data">
					<div class="headers" title="Refinement">
						<div></div>
						<div title="Refinement: Intact">I</div>
						<div title="Refinement: Exceptional">E</div>
						<div title="Refinement: Flawless">F</div>
						<div title="Refinement: Radiant">R</div>
					</div>
					<div class="ducats" title="Average ducats">
						<div class="image"></div>
						<div ng-repeat="ducats in relic.completion.ducats track by $index">
							{{ducats | number: 0}}
						</div>
					</div>
					<div class="percent" title="Average chance to get something you need">
						<div>%</div>
						<div ng-repeat="item in relic.completion.newPart track by $index">
							{{item * 100| number: 0}}
						</div>
					</div>
				</div>
				<div ng-style="{width: relic.completion.percent}" class="completion"></div>
				<div class="title">{{eras[relic.era]}} {{relic.name}} relic
					<div ng-if="relic.vaulted" class="vaulted">V</div>
				</div>
			</div>
		</div>
	</div>
	<div class="relicdetails">
		<span ng-hide="selected">Select a Relic to view its rewards.</span>
		<div ng-show="selected">
			<div class="title">
				{{eras[selected.era]}} {{selected.name}} relic
				<span class="vaulted" ng-if="selected.vaulted">Vaulted</span>
			</div>
			<div>
				<div class="relicreward" ng-class="'rarity' + reward.rarity" ng-repeat="reward in selected.rewards" ng-controller="RewardCtrl">
					<div class="image" bkg-img icon="{{part.icon}}" blueprint="{{part.hasBlueprint}}"></div>
					<span class="name" ng-click="$emit('transfer', 'parts', part)">
						{{part.name}}
					</span>
					<div ng-if="part.vaulted" class="vaulted">V</div>
					<div class="ducats">
						<div class="image">
						</div>
						<span>{{part.ducats}}</span>
					</div>
					<div ng-style="{width: length(part)}" class="completion"></div>
				</div>
			</div>
		</div>
	</div>
</div>