<md-toolbar class="controls">
	<div class="md-toolbar-tools">
		<md-button ng-click="selected = []">Clear</md-button>
		<md-menu>
			<md-button ng-click="$mdMenu.open()">
				Era: {{eras[era]}}
			</md-button>
			<md-menu-content>
				<md-menu-item ng-repeat="filterEra in eras">
					<md-button
						ng-class="era === $index ? 'md-primary': ''"
						ng-click="selectEra($index)"
					>
						{{filterEra}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-menu>
			<md-button ng-click="$mdMenu.open()">
				Add Relic
			</md-button>
			<md-menu-content>
				<md-menu-item ng-repeat="relic in relics
					| filter:{era : era}
					| orderBy: 'name'"
				>
					<md-button
						ng-click="selectRelic(relic)"
					>
						{{relic.name}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-menu>
			<md-button ng-click="$mdMenu.open()">
				Add Part
			</md-button>
			<md-menu-content>
				<md-menu-item ng-repeat="part in parts
					| rewardsfilter: era"
				>
					<md-button
						ng-click="selectPart(part)"
					>
						{{part.name}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>
<div class="content">
	<div class="rewards" ng-class="'rarity' + level" ng-repeat="level in [2, 1, 0]">
		<div class="reward"
			ng-repeat="reward in selected | filter: {rarity:level} | orderBy: 'part.name'"
		>
			<div class="details">
				<div class="ducats">
					<span>{{reward.part.ducats}}</span>
					<div class="image">
					</div>
				</div>
				<button ng-click="get(reward.part)">{{reward.part.hasBlueprint ? reward.part.blueprints : reward.part.built}}</button>
			</div>
			<div class="image" bkg-img icon="{{reward.part.icon}}" blueprint={{reward.part.hasBlueprint}}>
			</div>
			<div class="name">
				{{reward.part.name}}
				<div ng-if="reward.part.vaulted" class="vaulted">V</div>
			</div>
			<div ng-style="{width: length(reward.part)}" class="completion"></div>
		</div>
	</div>
</div>