<div class="header">
	<button ng-click="selected = []">Clear</button>
	<label>Era
		<select ng-model="era" ng-change="selected=[]" ng-options="eras.indexOf(era) as era for era in eras"></select>
	</label>
	<label>Add Relic:
		<select
			ng-model="relic"
			ng-change="selectRelic()"
			ng-options="relic as relic.name for relic in relics
				| filter:{era : era}
				| orderBy: 'name'"
			>
			<option value=""></option>
		</select>
	</label>
	<label>Add Part:
		<select
			ng-model="part"
			ng-change="selectPart()"
			ng-options="part as part.name for part in parts | rewardsfilter: era"
		>
			<option value=""></option>
		</select>
	</label>
</div>
<div class="content">
	<div class="rewards" ng-class="'rarity' + level" ng-repeat="level in [2, 1, 0]">
		<div class="reward"
			ng-repeat="reward in selected | filter: {rarity:level} | orderBy: 'part.name'"
		>
			<div class="details">
				<div class="ducats">
					<span>{{reward.part.ducats}}</span>
					<div class="image">
					</div>
				</div>
				<button ng-click="get(reward.part)">{{reward.part.hasBlueprint ? reward.part.blueprints : reward.part.built}}</button>
			</div>
			<div class="image" bkg-img>
			</div>
			<div class="name">
				{{reward.part.name}}
			</div>
			<div ng-style="{width: length(reward.part)}" class="completion"></div>
		</div>
	</div>
</div>