inventory{
	display: flex;
	flex-direction: column;
}

inventory>.controls{
	flex: 0 0 48px;
	display: flex;
	flex-direction: row;
}

inventory>.controls .filters, primes>.controls .sorts{
	flex: 1 1 50%;
}

inventory>.controls .sorts>button.asc>.direction{
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #000000;
}

inventory>.controls .sorts>button.dsc>.direction{
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
}

inventory>.parts{
	flex: 1 1 80%;
	overflow: auto;
}

inventory>.parts>table{
	border-collapse: collapse;
	width: 100%;
}

inventory .part{
	border: 1px solid;
	background-image: url(/images/background.png);
    background-size: 0% 100%;
    background-repeat-x: no-repeat;
}

inventory .part>td>.image{
	background-size: contain, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	height: 50px;
	width: 80px;
}

inventory .part .vaulted{
	font-style: bold;
	background-color: #FF5555;
	height: 20px;
	width: 20px;
	display: inline-block;
	text-align: center;
	color: #000000;
}

inventory .part table{
	min-width: 175px;
}

inventory .part table td:last-child{
	float: right;
}

inventory .part table td:last-child>span{
	display: inline-block;
	width: 20px;
	text-align: center;
	overflow: hidden;
}

inventory .part .relics .rarity0{
	color: #BB5500;
}

inventory .part .relics .rarity1{
	color: #FFFFFF;
}

inventory .part .relics .rarity2{
	color: #AAAA22;
}

inventory .part .ducats>.image{
	display: inline-block;
	background-image: url("/images/ducat.png");
	height: 26px;
	width: 26px;
}