main>div>md-nav-bar>div.md-nav-bar{
	border: none;
}

main{
	height: 100%;
	display: flex;
	flex-direction: column;
}

main>*{
	flex: 1 1 80%;
}
main>.nav{
	flex: 0 0 48px;
}

*{
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: sans-serif;
}

.completion{
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background:rgba(0, 127, 127, 0.15);
	position: absolute;
	pointer-events: none;
}