html{
	background-color: #102030;
	color: #FFFFFF;
	height: 100%;
}

body{
	margin: 0px;
	height: 100%
}

main{
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

main>.nav{
	height: 40px;
}

main>relics, main>primes, main>rewards{
	flex: 1 1 80%;
}

main .overlay{
	position: absolute;
	height: 400px;
	width: 200px;
	right: 0;
	background: rgba(0, 0, 0, .3);
	z-index: 5;
}

*{
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: sans-serif;
}

.completion{
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background:rgba(0, 127, 127, 0.15);
	position: absolute;
	pointer-events: none;
}

ul.nav{
	list-style: none;
}

.nav{
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: 1px solid #dddddd;
}

.nav:before, .nav:after{
	display: table;
	content: " ";
}

.nav:after{
	clear: both;
}

.nav>li{
	float: left;
	margin-bottom: -1px;
	position: relative;
	display: block;
}

.nav>li:hover a{
	background-color: #203040;
	border-bottom-color: #dddddd
}

.nav>li a{
	position: relative;
	display: block;
	padding: 10px 15px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	margin-right: 2px;
}

.nav>li.active a{
	cursor: default;
	background-color: #203040;
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
}