primes{
	display: flex;
	flex-direction: column;
}

primes>.controls{
	flex: 0 0 48px;
	display: flex;
	flex-direction: row;
}

primes>.controls>button{
	display: inline-block;
	flex: 0 0 50px;
}

primes>.controls .filters, primes>.controls .sorts{
	flex: 1 1 50%;
}

primes>.controls .sorts>button.asc>.direction{
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #000000;
}

primes>.controls .sorts>button.dsc>.direction{
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
}

primes>.primes{
	flex: 1 1 80%;
	overflow: auto;
}

.prime{
	display: block;
	border: 1px solid;
	position: relative;
	max-height: 40px;
	transition: max-height .5s;
	overflow: hidden;
}

.prime.active{
	max-height: 500px;
}

.prime .summary{
	cursor: pointer;
	height: 40px;
	padding: 10px;
	border-bottom: 1px solid #304050;
}

.prime .vaulted{
	font-style: bold;
	background-color: #FF5555;
	height: 20px;
	width: 20px;
	display: inline-block;
	text-align: center;
}

.primedetails{
	display: block;
	margin: 5px;
	border: 1px solid;
	margin: 5px;
	padding-left: 15px;
	position: relative;
	background-color: #203040;
}

.primedetails .relics .rarity0{
	color: #BB5500;
}

.primedetails .relics .rarity1{
	color: #FFFFFF;
}

.primedetails .relics .rarity2{
	color: #AAAA22;
}

.primedetails>.ducats>.image{
	display: inline-block;
	background-image: url("/images/ducat.png");
	height: 26px;
	width: 26px;
}