relics{
	display: flex;
	flex-direction: column;
}

relics>.controls{
	display: flex;
	flex-direction: row;
}

relics>.controls .sorts, relics>.controls .filters{
	flex: 1 1 40%;
}

relics>.controls .eras{
	flex: 0 0 430px;
}

relics>.controls .sorts>button.asc>.direction{
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #000000;
}

relics>.controls .sorts>button.dsc>.direction{
	display: inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000000;
}

relics>div{
	flex: 1 1 80%;
}

.relic{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	
	position: relative;
	height: 200px;
	width: 300px;
	border: 2px solid #304050;
	margin: 3px;
	
	cursor: pointer;
}

.relic .vaulted{
	font-style: bold;
	background-color: #FF5555;
	height: 20px;
	width: 20px;
	display: inline-block;
	text-align: center;
}

.relic:hover{
	border-color: #AAAA22;
}

.relic:hover>.title{
	background-color: #AAAA22;
}

.relic.active{
	background-color: #203040;
}

.relic>*{
	z-index: 1;
}

.relic>.completion{
	z-index: 0;
}

.relic>.data{
	margin: 10px;
	flex: 1 1 80%;
	display: inline-flex;
	flex-direction: column;
	cursor: help;
}

.relic>.data>div{
	display: flex;
	flex-direction: row;
	flex: 1 1 30%;
	width: 100%;
	align-content: center;
}

.relic>.data>.headers{
	flex: 0 0 20px;
}

.relic>.data>div>div{
	border-left: 2px solid #304050;
	flex: 1 1 20%;
	display: inline-block;
}

.relic>.data>div>div:first-child{
	border: none;
	flex: 0 0 30px;
}

.relic>.data>.ducats>div.image{
	display: inline-block;
	background-image: url("/images/ducat.png");
	height: 26px;
	width: 26px;
}

.relic > .title{
	flex: 0 0 40px;
	padding: 5px;
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	z-index: 5;
	margin: -2px;
}

.reliclist{
	flex: 1 1 100%;
	overflow: auto;
}

.relicdetails{
	flex: 0 0 300px;
	border: 2px solid;
	background-color: #203040;
	margin: 5px;
	padding: 5px;
}

.relicdetails>span{
	text-transform: none;
}

.relicdetails .title{
	border-bottom: 2px solid #FFFFFF;
}

.relicdetails .vaulted{
	color: #884444;
}

.relicreward{
	position: relative;
	height: 75px;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.relicreward>*{
	z-index: 1;
}

.relicreward>.completion{
	z-index: 0;
}

.relicreward span.name{
	display: inline-block;
	flex: 1 1 20%;
}

.relicreward div.ducats{
	width: 26px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.relicreward>div.ducats>.image{
	display: inline-block;
	background-image: url("/images/ducat.png");
	height: 26px;
	width: 26px;
}

.relicreward>.image{
	display: inline-block;
	height: 50px;
	border: 2px solid #304050;
	width: 80px;
	margin:	0px 10px;
	background-size: contain, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	
}

.relicreward.rarity0{
	color: #BB5500;
}

.relicreward.rarity1{
	color: #FFFFFF;
}

.relicreward.rarity2{
	color: #AAAA22;
}