rewards{
	display: flex;
	flex-direction: column;
}

rewards>.header{
	height: 40px;
	background-color: #203040;
}

rewards>.content{
	flex: 1 1 80%;
	overflow-y: auto;
}

rewards .rewards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.reward{
	position: relative;
	height: 150px;
	width: 150px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #304050;
}

.reward>*{
	z-index: 2;
}

.reward>.completion{
	z-index: 0;
}

.reward>.image{
	z-index: 1;
}

.reward>.details{
	height: 40px;
	position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.3);
}

.reward .name{
	height: 40px;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.reward div.ducats{
	flex: 0 0 26px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.reward div.ducats>.image{
	display: inline-block;
	background-image: url("/images/ducat.png");
	height: 26px;
	width: 26px;
}

.reward>.image{
	background-size: contain, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	flex: 1 1 80%;
	width: 100%;
}

.reward>.details>button{
	width: 30px;
}

.rarity0>.reward{
	color: #BB5500;
}

.rarity1>.reward{
	color: #FFFFFF;
}

.rarity2>.reward{
	color: #AAAA22;
}